@import '../../base/variables';
@import '../../base/ui';

.button {
  @extend .uiFormItem;
  height: $button-height;
  width: $button-height;
  background-color: $pink-darker;
  color: $white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    background-color: $coral;
  }
}