@import '../../base/variables';
@import '../../base/ui';

.button {
  @extend .uiFormItem;
  height: $button-height;
  width: $button-height;
  background-color: $pink-darker;
  color: $white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px $pink-darker;

  span {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 2px $blue;
  }
}