@import '../base/variables';

.gridItem {
  background-color: $green;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .item-number {
    text-align: center;
    color: $white;
    pointer-events: none;
  }
}