@import '../base/variables';

.gridContainer {
  // non changeable styles
  // min-height: 500px;
  height: auto;
  display: grid;
  padding: 30px;
  border-radius: 4px;
  background-color: $white;

  grid-gap: 10px;
  grid-auto-rows: 100px;
  justify-content: start;
  align-content: center;
}