@import './variables';

// typography
.display1,
.display2,
.display3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.1;
  letter-spacing: 0.8px;
  color: $pink-dark;
  font-size: 50px;
}

.display1 {
  font-weight: 700;
}

.display2 {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  // font-weight: 600;
}

.display3 {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Inconsolata', monospace;
}