@import './variables';

// typography
.display1,
.display2,
.display3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.1;
  letter-spacing: 0.8px;
  color: $pink-dark;
  font-size: 42px;
}

.display1 {
  font-weight: 700;
  text-transform: uppercase;
}

.display2 {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-transform: uppercase
  // font-family: 'Roboto-Condensed', sans-serif;
}

.display3 {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Inconsolata', monospace;
}