// colors
$white: #ffffff;
$grey: #3c3c3c;
$grey-bright: #d3d3d3;

$pink-bright: #f8eae7;
$pink-dark: #F4A698;
$pink-darker: #f59a8a;
$coral: #f27660;

$green-bright: #64B6AC;
$green: #206457;

// global sizes
$border-radius: 4px;
$input-width: 120px;
$input-height: 24px;