@import 'base/variables';
@import 'base/global';
@import 'base/typography';

#app {
  padding: 40px;
  color: $pink-dark;
  background-color: $pink-bright;
  height: 100vh;

  .upper-container {
    display: flex;
    justify-content: space-between;
  }
}
